* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --text: #333333;  
    --background: #FBF3EC ;  
    --buttons: #ABC78F;  
    --details: #FF8494;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: var(--decorations);
}




/* Hero Section */

.headerSection {
    background-color: var(--background);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-around;
    color: var(--text);
    height: 80px;
}

.headerSection span {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 25px;
}

.hero-slogan {
    height: 450px;
    width: 100%;
    background-image: url('./img/horizontal-banner-with-cosmetic-product-coconut.jpg');
    background-position: center;
    color: var(--background);
    text-align: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.hero-slogan h1 {
    font-weight: bold;
}


/* Navbar */
.navbar {
    width: 40%;
    padding: 3px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.navbar ul li a:hover {
    color: var(--details);
    font-weight: bolder;
    transition: 0.1s;
}

nav a {
    color: var(--details);
    font-size: 17px;
}

#icon {
    display: none;
    color: var(--text);
    font-size: 20px;
    line-height: 50px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}
#icon:active{
transform: translatey(1px);
}

.logo{
    font-size: 35px;
}

@media (max-width:700px) {
    .headerSection {
        justify-content: space-between;
    }

    #icon {
        display: block;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--background);
        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @keyframes fade-in-right {
        0% {
            transform: translateX(50px);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .navbar ul {
        flex-direction: column;
        gap: 50px;
        padding-top: 30px;
    }

    .navbar ul a {
        font-size: 2rem;
        color: var(--text);
        font-weight: bold;
    }
}

.show {
    display: block;
}


/* -------------------------- CARRITO ---------------------------*/
.cart-icon-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.cart-icon {
    font-size: 24px;
}

.cart-number {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--details);
    color: var(--text);
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
}



@media only screen and (max-width: 768px) {
    .navv-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--background);
    }

    .navv-links a {
        padding: 10px;
        text-align: center;
        color: var(--text);
        text-decoration: none;
        display: block;
    }

}


/* Filter Section */

.filter {
    text-align: center;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.filter-buttons button {
    padding: 10px 15px;
    font-size: 14px;
}

.active {
    color:var(--text);
}

.active:hover{
    color: var(--text);
}

/* Estilos generales para la tarjeta */

.cards-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content:center; 
} 

.card {
    display: flex;
    flex-direction: column;
    width: 200px; 
    padding: 10px; 
    border: 1px solid var(--details); 
    border-radius: 8px; 
    margin: 10px; 
    box-shadow: 0 4px 8px var(--buttons); 
    background-color: var(--background);
    align-items: center
}

  /* Estilos para la imagen del producto */
.card img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

  /* Estilos para el título del producto */
.productos-titulo {
    margin: 20px;
    background-color: var(--background);
    color: var(--text);
}

.product-title {
    font-size: 16px; 
    margin: 11px; 
}

.product-price {
    font-size: 14px; 
    color: var(--text);
    margin-bottom: 8px; 
}


  /* Estilos para el botón "Agregar al Carrito" */
button {
    background-color: var(--buttons); 
    color: var(--text); 
    padding: 5px 9px; 
    border: none; 
    border-radius: 4px; 
    font-size: 14px; 
    text-decoration: none;
    cursor: pointer;
    margin: 7px;
}

button:hover {
    color:var(--text);
    background-color: var(--details); 
}

.productos {
    text-align: center; 
    align-items: center; 
}

.next-load-button {
    /* Agrega estilos al botón */
    margin-top: 10px; 
    margin-bottom: 2px;
    background-color: var(--buttons);
    color: var(--text);
}

.back-load-button {
    margin-bottom: 20px;
    background-color: var(--buttons);
    color: var(--text);
}

.next-load-button:hover{
    color: var(--background);
}

.back-load-button:hover{
    color: var(--background);
}

.hidden{
    display: none;
}



/* Media query para pantallas más estrechas */
@media screen and (max-width: 600px) {
    .cards-container {
    flex-direction: column;
    align-items: center; 
    }
}

/* Estilos adicionales para hacer responsive en dispositivos pequeños */
@media screen and (max-width: 768px) {
    .filter-buttons {
        flex-direction: column;
        align-items: center;
    }

    .cards-filter-container {
        flex-direction: column;
    }

    .card {
        margin-top: 40px;
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 50%;
        padding: 20px;
        margin-top: 40px;
    }

    button{
        margin: 5px;
    }
    }



/* Carrito */
.carritooo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: solid 2px;

}

.carritooo h1 {
    padding: 20px;
}


.remove-from-cart{
    margin: 30px;
    cursor: pointer;
}

#go-to-cart-button {
    background-color: transparent;
}

.back-button-cart{
    text-decoration: none;
    color: var(--text);
}

/* Footer */

footer {
    background-color:var(--background);
    color: var(--text);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer div {
    margin: 15px;
}

.site-map {
    font-weight: bold;
}

.footer-nav a,
.social-media a,
.legal-info a,
.site-map a {
    color: var(--text);
    text-decoration: none;
    margin: 0 10px;
}

.map-image img {
    width: 100%;
    max-width: 200px;
}