* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
    padding: 0;
    background-color:var(--background);
}

:root {
    --text: #333333;  
    --background: #FBF3EC ;  
    --buttons: #ABC78F;  
    --details: #FF8494;
}


/* About us */

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px;
    text-align: justify;
}

h1, h2 {
    color: var(--details);
}

a.back-button {
    background-color: var(--buttons); 
    color: var(--text); 
    padding: 5px 9px; 
    border: none; 
    border-radius: 4px; 
    font-size: 14px; 
    text-decoration: none;
    cursor: pointer;
    margin: 7px;
}

a.back-button:hover {
    color:var(--text);
    background-color: var(--details); 
}

@media (max-width: 768px) {
    .content {
        padding: 40px;
        max-width: 400px;
    }
}

/* Contact us */

header {
    background-color: var(--decorations); 
    color: var(--text); 
    padding: 20px;
    text-align: center;
}

section {
    padding: 40px;
    background-color: var(--background); 
    color: var(--text); 
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--details); 
    border-radius: 5px;
}

button {
    background-color: var(--buttons); 
    color: var(--text); 
    padding: 5px 9px; 
    border: none; 
    border-radius: 4px; 
    font-size: 14px; 
    text-decoration: none;
    cursor: pointer;
    margin: 7px;
    
}

button:hover {
    color:var(--text);
    background-color: var(--details); 
}
